.cardTask{
    padding:0px 15px 10px; 
   background: #2C302D;
    /*border: 2px solid #000000;*/
    box-shadow: -8px -8px 10px  rgb(0, 0, 0),
               -8px -8px 10px   rgb(0, 0, 0);
    /*-2px -2px 6px  rgba(235, 3, 104, 0.788),
              -2px -2px 6px rgba(235, 3, 104, 0.788)  ;*/
    border-radius: 10px;
    margin:1rem;
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}
.status{
    height: 5px;
    background-color: #373737;
}
.status span{
    height: 100%;
    display: block;
    background-color: rgba(233, 6, 93, 0.788);
    box-shadow: -2px -2px 6px  rgba(101,101,104, 0.788),
    -2px -2px 6px  rgba(101,101,104, 0.788);
    border-radius: 5px; 
}
.task-actions{
    display: flex;
    }
h2{
font-family: 'Times New Roman', Times, serif;
font-size: 25px;
color: #e41a67da;
text-shadow: -5px -5px 5px rgba(0, 0, 0),
             -5px -5px 5px rgba(0, 0, 0);
}
p{
    color:grey;
    font-size: 20px;
}

